################################################
# Test suite configuration file
################################################

### WebTests config
wt.home=/home/canoo/build
wt.host=8.10.73.51
wt.port=80
wt.protocol=http
wt.basepath=/canoo/www

## db settings
#db.type=mysql
#db.login=openx
#db.password=
#db.port=3306

db.type=postgresql
db.login=postgres
db.password=postgres
db.port=5432

# set database name and host
db.name=openx
db.host=localhost

## Marketplace
marketplace.enabled=false

## XMLRPC API JUnit tests
#test.unit.xmlrpc.api=true
test.unit.xmlrpc.mvn.executable=/usr/local/maven/bin/mvn.sh

## upgrade settings
# To turn on/off upgrade mode uncomment/comment the line below
upgrade.isOn=true