.titlemini {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: normal;
color: #333333;
text-decoration: none;
letter-spacing: 1px;
line-height: 95%;
}
.textmini {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #333333;
text-decoration: none;
}
.tablemain {
border: solid 0px;
margin: solid 0px;
}
.tableheader {
 padding: 3px;
 border: solid 0px;
 margin: 0px;
 background-color: #EEEEEE;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333333;
 font-weight: bold;
 text-decoration: none;
}
.tablebody {
 padding: 3px;
 border-top: solid 1px;
 border-left: solid 1px;
 border-bottom: solid 1px;
 border-right: solid 1px;
 border-color: rgb(210, 210, 210);
 margin: solid 0px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333333;
 text-decoration: none;
}
button {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
background-color: rgb(210, 210, 210);
}
.tablemainnotes {
border: solid 1px;
margin: solid 1px;
}
.tablemainnotes th {
 padding: 3px;
 border: solid 1px;
 margin: 0px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 font-weight: bold;
 text-decoration: none;
}
.tablemainnotes td {
 padding: 10px;
 border-top: solid 1px;
 border-left: solid 1px;
 border-bottom: solid 1px;
 border-right: solid 1px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 text-decoration: none;
}
