/nbproject
/build
/plugins
/should_not_exist
/var/INSTALLED
/var/*.conf.php
/var/*.log
/var/*.log.rollback
/var/*.xml
/var/cache/*.html
/var/cache/*.php
/var/cache/cache_*
/var/cache/minify_*
/var/plugins/DataObjects/*.bak
/var/plugins/DataObjects/*.ini
/var/plugins/DataObjects/*.php
/var/plugins/log/*
/var/plugins/recover/*
/var/templates_compiled/*.php
/var/templates_compiled/*.serial
/www/admin/plugins/*
/www/images/
/plugins_repo/build-ap.xml
/plugins_repo/release/*.zip
