/nbproject
/plugins
/var/INSTALLED
/var/*.conf.php
/var/*.log
/var/cache/*.html
/var/cache/cache_*
/var/cache/minify_*
/var/plugins/DataObjects/*.ini
/var/plugins/DataObjects/*.php
/var/templates_compiled/*.php
/www/admin/plugins/*
