parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Plugins_DeliveryLimitations_DemoDeliveryLimitation_DemoLimitation\\:\\:\\$aPatternOps\\.$#"
			count: 1
			path: plugins_repo/demoExtension/plugins/deliveryLimitations/demoDeliveryLimitation/demoLimitation.class.php

		-
			message: "#^Access to an undefined property Plugins_DeliveryLimitations_DemoDeliveryLimitation_DemoLimitation\\:\\:\\$aStandardOps\\.$#"
			count: 1
			path: plugins_repo/demoExtension/plugins/deliveryLimitations/demoDeliveryLimitation/demoLimitation.class.php

		-
			message: "#^Access to an undefined property Services_JSON\\:\\:\\$use\\.$#"
			count: 5
			path: plugins_repo/demoExtension/www/admin/plugins/demojQuery/lib/JSON.php

		-
			message: "#^Access to an undefined property Plugins_DeliveryLimitations_Client_Ip\\:\\:\\$aPatternOps\\.$#"
			count: 1
			path: plugins_repo/openXDeliveryLimitations/plugins/deliveryLimitations/Client/Ip.class.php

		-
			message: "#^Access to an undefined property Plugins_DeliveryLimitations_Client_Ip\\:\\:\\$aStandardOps\\.$#"
			count: 1
			path: plugins_repo/openXDeliveryLimitations/plugins/deliveryLimitations/Client/Ip.class.php

		-
			message: "#^Access to an undefined property OX_Video_Report\\:\\:\\$bannerTable\\.$#"
			count: 6
			path: plugins_repo/openXVideoAds/www/admin/plugins/videoReport/stats-api.php

		-
			message: "#^Access to an undefined property OX_Video_Report\\:\\:\\$campaignTable\\.$#"
			count: 3
			path: plugins_repo/openXVideoAds/www/admin/plugins/videoReport/stats-api.php

		-
			message: "#^Access to an undefined property OX_Video_Report\\:\\:\\$statsTable\\.$#"
			count: 7
			path: plugins_repo/openXVideoAds/www/admin/plugins/videoReport/stats-api.php

		-
			message: "#^Access to an undefined property OX_Video_Report\\:\\:\\$websiteTable\\.$#"
			count: 2
			path: plugins_repo/openXVideoAds/www/admin/plugins/videoReport/stats-api.php

		-
			message: "#^Access to an undefined property OX_Video_Report\\:\\:\\$zoneTable\\.$#"
			count: 3
			path: plugins_repo/openXVideoAds/www/admin/plugins/videoReport/stats-api.php
