<?php if (!defined('MAX_PATH')) { exit; } ?>
    <tr>
        <td>&nbsp;</td>
        <td height='25' colspan='2' class='underline'><b><?php echo $sysinfoheading; ?></b></td>
    </tr>
    <?php
        if ($sysinfoarray && (is_array($sysinfoarray['actual']) || is_array($sysinfoarray['error'])) && (count($sysinfoarray)>0))
        {
            echo "
                        <tr>
                              <td>&nbsp;</td>
                              <td colspan='2' align=center>
                                 <table border='0' width='100%' cellpadding='0' cellspacing='0' class='sysinfotable'>";
            foreach ($sysinfoarray['actual'] AS $k => $v)
            {
                if (!is_array($v))
                {
                    echo "
                                    <tr>
                                        <td>
                                            <b>{$k}</b>
                                        </td>
                                        <td align=right>
                                            {$v}
                                        </td>
                                    </tr>
                          ";
                }
            }
            if ($sysinfoarray['error'])
            {
                echo "<tr>
                          <td colspan=\"2\" class=\"sysinfoerror\">
                            Error:<br />
                     ";
                foreach ($sysinfoarray['error'] AS $k => $v)
                {
                    echo $v."<br />";
                }
                echo "</td>
                          </tr>";
            }
            if ($sysinfoarray['warning'])
            {
                echo "<tr>
                          <td colspan=\"2\" class=\"sysinfowarning\">
                            Warning: ";
                foreach ($sysinfoarray['warning'] AS $k => $v)
                {
                    echo $v."<br />";
                }
                echo "</td>
                          </tr>";
            }

            echo "
                              </table>
                          </td>
                      </tr>";
        }
        else
        {
            echo "<tr>
                      <td class=\"tablebody\" colspan=\"2\">&nbsp;</td>
                  </tr>";
        }
    ?>

