<br>
<table border='0' cellpadding='0' cellspacing='0' width='100%'>
<tr>
<td valign='top'><img src='<?php echo $imgPath; ?>images/install-admin.gif'></td>
<td width='100%' valign='top'>
<br>
<span class='tab-s'><?php echo $GLOBALS['strAdministrativeSettings']; ?></span>
<br>
<img src='<?php echo $imgPath; ?>images/break-el.gif' width='100%' height='1' vspace='8'>
<span class='install'><?php echo $strAdminSettingsIntro; ?></span>
</td>
</tr>
</table>
<br>

<form name="frmOpenads" method="POST" action="install.php" onSubmit='return max_formValidate(this);'>

<?php
            phpAds_ShowSettings(array (
                array (
                    'text'  => $strAdminAccount,
                    'items' => array (
                        array (
                            'type'  => 'text',
                            'name'  => 'aAdmin[name]',
                            'text'  => $strAdminUsername,
                            'req'   => true,
                            'value' => $aAdmin['name']
                        ),
                        array (
                            'type'  => 'break'
                        ),
                        array (
                            'type'  => 'password',
                            'name'  => 'aAdmin[pword]',
                            'text'  => $strAdminPassword,
                            'req'   => true,
                            'value' => $aAdmin['pword']
                        ),
                        array (
                            'type'  => 'break'
                        ),
                        array (
                            'type'  => 'password',
                            'name'  => 'aAdmin[pword2]',
                            'text'  => $strRepeatPassword,
                            'req'   => true,
                            'check' => 'compare:aAdmin[pword]',
                            'value' => $aAdmin['pword2']
                        ),
                        array (
                            'type'  => 'break'
                        ),
                        array (
                            'type'  => 'text',
                            'name'  => 'aAdmin[email]',
                            'text'  => $strAdminEmail,
                            'req'   => true,
                            'value' => $aAdmin['email']
                        )
                    )
                ),
                array (
                    'text'    => $GLOBALS['strSpecifySyncSettings'],
                    'items'   => array (
                        array (
                            'type'    => 'checkbox', 
                            'name'    => 'aAdmin[updates_enabled]',
                            'text'    => $strAdminCheckUpdates,
                            'value'   => true,
                        ),
                        array (
                            'type'    => 'break'
                        ),
                        array (
                            'type'    => 'checkbox',
                            'name'    => 'aAdmin[updates_cs_data_enabled]',
                            'text'    => $GLOBALS['strAdminShareCommunityData'],
                            'depends' => 'updates_enabled==true',
                            'value'   => true,
                        ),
                    )
                )
            ), $errormessage, 0, $imgPath);
?>

                <input type="submit"  class="button" name="btn_datasetup" value="<?php echo $strBtnContinue; ?>" />
