    <table border='0' width='100%' cellpadding='0' cellspacing='0'>
        <tr>
            <td height='25' colspan='4'><img src='<?php echo $imgPath; ?>images/icon-setup.gif' width='16' height='16' align='absmiddle'>&nbsp;<b>Application Check</b></td>
        </tr>
        <tr height='1'>
            <td bgcolor='#888888' width='30'><img src='images/break.gif' height='1' width='30'></td>
            <td bgcolor='#888888' width='250'><img src='images/break.gif' height='1' width='250'></td>
            <td bgcolor='#888888' width='100%'><img src='images/break.gif' height='1' width='1'></td>
            <td bgcolor='#888888' width='30'><img src='images/break.gif' height='1' width='30'></td>
        </tr>
        <tr>
            <td height='10' colspan='4'><img src='images/spacer.gif' width='30' height='1'></td>
        </tr>
        <tr><td height='10' colspan='4'>&nbsp;</td></tr>
        <tr>
            <td colspan='4' align='center'>            
                    <?php include 'templates/install-messages.html';  ?>
            </td>
        </tr>
        <tr><td height='10' colspan='4'>&nbsp;</td></tr>
        <tr height='1'><td colspan='4' bgcolor='#888888'><img src='images/break.gif' height='1'></td></tr>
    </table>
        
        <?php
            if (!$halt)
            {
        ?>
                <input type="submit" class="button" name="btn_dbsetup" value="<?php echo $strBtnContinue; ?>" />                                <?php
            }
            else
            {
        ?>
                <input type="submit" class="button" name="btn_syscheck" value="<?php echo $strBtnRetry; ?>" />                                   <?php
            }
        ?>
        <input type="submit" class="button floatleft" name="btn_terms" value="<?php echo $strBtnGoBack; ?>" />
