<?php if (!defined('MAX_PATH')) { exit; } ?>
    <table border='0' width='100%' cellpadding='0' cellspacing='0'>
        <tr>
            <td height='25' colspan='4'><img src='<?php echo $imgPath; ?>images/icon-setup.gif' width='16' height='16' align='absmiddle'>&nbsp;<b>Application Check</b></td>
        </tr>
        <tr height='1'>
            <td bgcolor='#888888' width='30'><img src='images/break.gif' height='1' width='30'></td>
            <td bgcolor='#888888' width='250'><img src='images/break.gif' height='1' width='250'></td>
            <td bgcolor='#888888' width='100%'><img src='images/break.gif' height='1' width='1'></td>
            <td bgcolor='#888888' width='30'><img src='images/break.gif' height='1' width='30'></td>
        </tr>
        <tr>
            <td height='10' colspan='4'><img src='images/spacer.gif' width='30' height='1'></td>
        </tr>
        <tr><td height='10' colspan='4'>&nbsp;</td></tr>
        <tr>
            <td colspan='4' align='center' style='margin: 0 50px 0 50px;'>
            <?php
                if ($message) {
            ?>
                    <table class="sysinfotable"><tr><td class="sysinfoerror centered"><?php echo $message; ?></table>
            <?php
                } else {
                    include MAX_PATH . '/www/admin/templates/install-messages.html';
                }
            ?>
            </td>
        </tr>
        <tr><td height='10' colspan='4'>&nbsp;</td></tr>
        <tr height='1'><td colspan='4' bgcolor='#888888'><img src='images/break.gif' height='1'></td></tr>
    </table>

        <?php
            if (!$halt)
            {
                $btn_name = $_COOKIE['oat'] == OA_UPGRADE_UPGRADE && !OA_Upgrade_Login::checkLogin() ? 'btn_login' : 'btn_dbsetup';
        ?>
                <input type="submit" class="button" name="<?php echo $btn_name; ?>" value="<?php echo $strBtnContinue; ?>" tabindex="1" />                                <?php
            }
            else
            {
        ?>
                <input type="submit" class="button" name="btn_syscheck" onclick="showLoader();" value="<?php echo $strBtnRetry; ?>" tabindex="1" />                                   <?php
            }
        ?>
        <input type="submit" class="button floatleft" name="btn_policy" value="<?php echo $strBtnGoBack; ?>" tabindex="2" />
