<?php if (!defined('MAX_PATH')) { exit; } ?>
    <br />
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
    <tr>
        <td valign='top'>
            <img class="install-icon" src='<?php echo $imgPath; ?>images/install-tasks.png'></td><td width='100%' valign='top'>
            <br />
            <span class='tab-s'><?php echo $message ?></span>
            <br />
            <img src='<?php echo $imgPath; ?>images/break-el.gif' width='100%' height='1' vspace='8'>
        </td>
    </tr>
    </table>
    <br />
    <br />
    <?php $pluginOperationName = ($_COOKIE['oat'] == OA_UPGRADE_INSTALL ? 'Installing' : 'Checking'); ?>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td height='25' colspan='2' class='underline'><b><?php echo $pluginOperationName; ?> OpenX plugins</b></td>
        </tr>
        <tr>
            <td> </td>
            <td> 
                <div id="jobs"></div>
            </td>
          </tr>
        </tbody>
      </table>

<form id="frmOpenads" name="frmOpenads" method="POST" action="install.php">
    <?php
    $id = ($_COOKIE['oat'] == OA_UPGRADE_INSTALL ? 'btn_finish' : 'btn_post');
    ?>
    <input type="hidden" name="aAdminPlugins" id="aAdminPlugins" value="<?php echo htmlspecialchars(stripslashes($_POST['aAdminPlugins'])); ?>">
    <input type="submit"  class="button" id="<?php echo $id; ?>" name="<?php echo $id; ?>" value="<?php echo $strBtnContinue; ?>" tabindex="1" />
</form>

    <script type="text/javascript" src="<?php echo $imgPath; ?>/js/ox.jobs.js"></script>
    <script type='text/javascript'>
      <!--
        $(document).ready(function() {
            $("div#jobs").pluginJobs({
                startText: '<?php echo $pluginOperationName; ?>...',
                continueButtonId: '<?php echo $id; ?>',
                jobs: <?php echo $jsonJobs ?>,
                requestTimeout: 30000 //in milis 30sec
                });
        });
      -->
    </script>