<?php if (!defined('MAX_PATH')) { exit; } ?>
<br />
<br />
<table border='0' cellpadding='0' cellspacing='0' width='100%'>
<tr>
    <td valign='top'>
        <img class="install-icon" src='<?php echo $imgPath; ?>images/install-welcome.png'></td><td width='100%' valign='top'>
        <br />
        <span class='tab-s'><?php echo $strInstallWelcome . ' v' . OA_VERSION; ?></span>
        <br />
        <img src='<?php echo $imgPath; ?>images/break-el.gif' width='100%' height='1' vspace='8'>
        <span class='install'><?php echo $strInstallIntro; ?></span>
    </td>
</tr>
</table>
<br />

<form name="frmOpenads" method="POST" action="install.php">
<img src='<?php echo $imgPath; ?>images/break-el.gif' height='1' width='100%' vspace='5'>
    <input type="submit" class="button" name="btn_terms" value="<?php echo $strBtnContinue; ?>" tabindex="1">
