body {
 width: 97%;
 background-color: #FFFFFF;
 font-family: Arial, Helvetica, sans-serif;
}
.heading {
 width: 100%;
 background: #EEEEEE;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: bold;
}
.bodydiv {
 width: 95%;
 text-align:center;
 border-top: solid 1px;
 border-left: solid 1px;
 border-bottom: solid 1px;
 border-right: solid 1px;
 border-color:  #000000;
 margin-bottom: 5px;
 padding: 10px;
}
.tablediv {
 width: 100%;
 background-color: lightyellow;
 text-align: center;
 border-top: solid 1px;
 border-left: solid 1px;
 border-bottom: solid 1px;
 border-right: solid 1px;
 border-color:  #000000;
 margin-bottom: 5px;
 padding: 10px;
}
#debugdiv {
 width: 100%;
 background-color: #FFF;
 text-align: left;
 font-size: small;
}
.titlemini {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: normal;
color: #333333;
text-decoration: none;
letter-spacing: 1px;
line-height: 95%;
}
.textmini {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #333333;
    text-decoration: none;
}
.tablemain {
    border: solid 0px;
    margin-bottom: 5px;
    width: 100%;
}
.tableheader {
    padding: 3px;
    border: inset 1px #222222;
    margin: 0px;
    background:  #EEEEEE ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: rgb(210, 210, 210);
}
.tablebody {
    padding: 3px;
    border: inset 1px #222222;
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: rgb(210, 210, 210);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: lightyellow;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: yellow;
    color: black;
}
ul.idx_list {
	list-style-type: none;
	padding:5px;
	margin: 0px;
	width:80%;
	margin-left:10px;
	font-family: Arial, Helvetica, sans-serif;
}
ul.idx_list li {
	padding: 3px;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}
