{if $aMessages.error || $forceRender}
    <div class="messagePlaceholder messagePlaceholderStatic {if $class}{$class}{/if}" {if $id}id={$id}{/if}>
      <div class="message localMessage">
        <div class="panel error">
          <div class="icon"></div>
          <div class="body">
            {if $showSkipSsoForm}
				<div id="skipsso-form-container" style="margin-left:10px">
				<p>
				We were unable to reach the OpenX Market account registration service at this time.
				In order to continue with the installation process, you may continue without registering 
				or you may try registering again on the form below.
				<br/><br/>
				Note: if you continue without registering, you will need to register with OpenX later in 
				order to be able to serve ads from OpenX Market.
				{include file=$oaTemplateDir|cat:'form/form.html' form=$skipSsoForm}
				
				<a id='moreDetails'>More details about the error &#8250;</a>
				<br/><br/>
				</p>
				</div>
			{/if}
			<span id='errorMessages'>
            {foreach from=$aMessages.error item=error name=messagesLoop}
              {$error} {if !$smarty.foreach.messagesLoop.last}<br/>{/if}
            {/foreach}
            </span>
          </div>
          <div class="topleft"></div>
          <div class="topright"></div>
          <div class="bottomleft"></div>
          <div class="bottomright"></div>
        </div>
      </div>
    </div>    
{/if}

{if $showSkipSsoForm}
{literal}
<script type="text/javascript">
$(document).ready(function() {
	$('#errorMessages').hide(); 
	$('#moreDetails').click( function() {
		$('#errorMessages').toggle(); 
	});
});
</script>
{/literal}
{/if}