body, table, td, select, textarea, input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #444444;
}
img, input, select, body, form {
   border: 0;
   padding:0;
   margin:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

iframe {
	background: none;
}

#wrapper {
    position: relative;
    width: 990px;
}

#main {
	float: left;
    width: 817px;
}

#header {
	overflow: hidden;
	width: 100%;
	/*height: 155px; height is determined by the children heught */
}

#ad {
	float: right;
	margin-left: 10px;
	margin-top: 15px;
}


.openads {
    color: #669933;
}
.error, div.widgetOverlayContent p.error {
	color: #ff0000;
}

.alignRight {
	text-align: right;
}

/* Links */
a {
    color: #444444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.site-link  {
    color: #0767A8;
    font-weight: normal;
    text-decoration: none;
}

a.site-link:hover {
    text-decoration: underline;
}

div.widgetContainer {
  height: 130px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Widget unordered lists */
ul.widgetList {
    color: #444444;
    margin: 0px;
    padding-left: 12px;
    margin-bottom: 10px;
    list-style-image: url('../images/listIcon.gif');
    list-style-position: outside;
}

.widgetList li {
    margin-bottom: 5px;
}

/* Widget unordered list wrapper */
/*.widgetListWrapper {
  width:240px;
  overflow-y: auto;
  overflow-x: hidden;
}*/

.widgetList li .title {
    float: left;
    width: 72%;
    overflow: hidden;
    white-space: nowrap;
    margin-right:2%;
    text-overflow: ellipsis;
}

.auditList li .title {
    width: 65%;
}

.auditList li .date {
    font-weight: bold;
}


.campaignList li, .auditList li {
	  width: 100%;
}

.campaignList .added, .campaignList .started, .campaignList .resumed {
    color: green;
}

.campaignList .finished {
}

 .campaignList .paused {
    color: red;
}


/*.campaignList .started, .campaignList .resumed {
    color: green;
}

.campaignList .finished {
    color: red;
}

.campaignList .added, .campaignList .paused {
  color: #777777;
  font-style: italic;
}*/

/*  stats */
img#graph {
    width: 239px;
    height: 132px;
}

/**
 * Login form
 */
#loginForm {
    width: 347px;
    clear: both;
    margin-top: 20px;
    margin-bottom: 15px;
}
#loginForm div.line {
    padding-right: 5px;
    clear: both;
    clear: both;
}
#loginForm div.line-nolabel {
    padding: 5px 5px 0 150px;
}
#loginForm label {
    color: #77797C;
    font-size: 8pt;
    text-align: left;
    margin-top: 1px;
    width: 150px;
    float: left;
}
#loginForm input {
    margin-top: 3px;
    border: 1px solid #77797C;
    width: 130px;
    padding: 2px;
}

#loginForm input.loginFormSubmit {
    color: #ffffff;
    width: 67px;
    border: 0;
    padding: 0;
    font-size: 8pt;
    font-weight: bold;
    cursor: pointer;
    background: url('../images/dashboard/widgetLoginButton.gif');
}

div.loginCreateAccount {
    bottom: 10px;
    padding-left: 20px;
}
div.loginCreateAccount a {
    font-size: 8pt;
    text-decoration: none;
}
div.loginCreateAccount a:hover {
    text-decoration: underline;
}

/**
 * Widget Overlay
 */
div.widgetOverlay {
    position: absolute;
    top: 12%;
    left: 20%;
    width: 50%;
    padding: 16px;
    z-index:1002;
    overflow: auto;
}
div.widgetOverlayHeader, div.widgetOverlayFooter {
    width: 377px;
    height: 15px;
}
div.widgetOverlayHeader {
    background: url('../images/dashboard/widgetOverlayHeader.png') no-repeat bottom left;
}
div.widgetOverlayFooter {
    background: url('../images/dashboard/widgetOverlayFooter.png') no-repeat top left;
}
div.widgetOverlayCenter {
    width: 377px;
    height: 272px;
    text-align: left;
}
div.widgetOverlayLeft, div.widgetOverlayRight {
    height: 272px;
    width: 10px;
}

div.widgetOverlayLeft {
    float: left;
    background: url('../images/dashboard/widgetOverlayLeft.png') no-repeat top right;
}

div.widgetOverlayRight {
    float: right;
    background: url('../images/dashboard/widgetOverlayRight.png') no-repeat top left;
}

div.widgetOverlayBody {
	width: 347px;
    height: 272px;
    background: url('../images/dashboard/widgetOverlayCenter.gif') repeat-x top center;
    float: right;
    text-align: center;
    padding: 0 5px;
}

div.widgetOverlayContent {
    clear: both;
    text-align: left;
    width: 347px;
}

div.widgetOverlayContent h1 {
	font-size: 15pt;
	color: #77797C;
}

div.widgetOverlayContent p {
    color: #77797C;
	font-size: 8pt;
	margin: 10px 0;

}

div.widgetOverlayContent a {
	font-size: 8pt;
    color: #00B0D8;
    text-decoration: none;
}

div.widgetOverlayContent a:hover {
	text-decoration: underline;
}

div.dashboardOverlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 817px;
    min-height: 750px;
    height: 100%;
    background-color: #ffffff;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.60;
    filter: alpha(opacity=60);
}


div.widgetToolbarNav {
	padding: 0; margin: 0;
	width: 663px;
    margin-left: 25px;
}

#nav ul {
	width: 663px;
}
#nav li {
    display: inline;
    list-style-type: none;
}
#nav li span {
	font-size: 10pt;
	display: -moz-inline-box; display: inline-block;
	width: 113px;
}

/**
 * Buttons
 */
div.widgetButtons div {
    float: right;
    padding: 2px;
}

#dashboardPreview {
  background-image: url('../images/dashboard/dashboard-preview.jpg');
  width: 817px;
  height: 818px;
}

/** Campaigns */
.campaign-added,
.campaign-started,
.campaign-restarted {
  color: green 
}

.campaign-paused,
.campaign-deleted { 
  color: red 
}

.campaign-completed  { 
  color: black 
}

