/** installer layout changes**/
body {
  font-size: 12px;
}

#thirdLevelHeader {
  background: none;
  background-color: white;
  border-bottom: none;
  z-index: 0;
}

#thirdLevelTools {
  display: none;
}

#oaHeaderBranding {
  top: 10px;
}

div.breadcrumb h3 {
  font-weight: normal;
  font-size: 27px;
}

/** end main layout changes*/

/** overlays and loaders **/
.loaderContent {
    background-color: #ffffff;
    padding: 15px;
    width: 375px;
    /*overlay positioning problem in IE6*/
    -position: relative;
    -left: 40%;
}

.loaderContent div {
    font-size:120%;
    font-weight:bold;
    text-decoration:none;
    height: auto;
    min-height: 45px;
    text-align: center;
    background-image:    url('../images/loading.gif');
    background-repeat:   no-repeat;
    background-position: center bottom;
    padding-bottom: 25px;
}


/**  system check table **/
/* icons **/
.inlineIcon {
    padding-left: 15px;
}

.inlineIconRight {
  background-position: right center;
  padding-left: 0px;
  padding-right: 15px;
}

.iconCheckOK {
  background-image: url("../images/icon-checkmark.gif");
}

.iconCheckErr {
  background-image: url("../images/icon-stop.gif");
  padding-left:17px;
}

.iconCheckWarn {
  background-image: url("../images/icon-warning.gif");
}

ul.syscheck {
  font-size: 11px;
}

ul.syscheck li {
  font-size: inherit;
  display: block;
}

ul.syscheck li h4 {
  margin: 0px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid #AAAAAA;
  line-height: 25px;
}

div.messageContainer {
  clear: both;
}

div.messageContainer div.body {
    overflow: hidden;
    padding: 5px 8px;
    font-weight:bold;
    line-height:17px;
    text-align: left;
    -zoom: 1; /*IE6*/
}

div.messageContainer div.error {
    background-color: #FF9798;
    color:#760605;
}

div.messageContainer div.warning {
    background-color:#FED39E;
    color:#7D4605;
}


div.messageContainer .type, .messageContainer .message {
  float: left;
}

div.messageContainer .type {
  width: 10%;
}

div.messageContainer .message {
  width: 90%;
}


ul.syscheck ol {
  list-style-position: outside;
}

ul.syscheck ol li, ul.check-list ol li {
  padding: 0px;
  border: 0px;
  color: inherit;
  background-color: inherit;
}

/*IE6/IE7*/
ul.check-list div.error ol li {
  background-color:#FF9798;
  color:#760605;
}


ul.check-list {
    border-bottom: 0px;
    margin:20px 0px 20px 15px;
}

ul.check-list li {
    background:#F0F0F0;
    border-left:3px solid #aaaaaa;
    margin-bottom: 3px;
    color:#333333;
    padding:5px 10px;
    overflow: hidden;
}

ul.check-list .check {
  overflow: hidden;
}

ul.check-list .check .name {
    float: left;
    width: 80%;
    font-weight:bold;
    text-align:left;
}

ul.check-list .check .res {
    float: right;
    text-align:right;
    width: 20%;
}

ul.check-list li.check-error, ul.check-list li.check-warning {
  padding: 0px; /*reset padding, will be added in children */
}

ul.check-list li.check-error .check, ul.check-list li.check-warning .check {
  padding: 5px 10px;
}

ul.check-list li.check-error .check {
  background-color: #ff9798;
}

ul.check-list li.check-warning .check {
  background-color: #fed39e;
}

ul.check-list li.check-error {
  border-color: #9c0f0e;
  color: #760605;
}

ul.check-list li.check-warning {
  border-color: #f58615;
  color: #7D4605;
}


ul.check-list li.check-error div.messageContainer .body, ul.check-list li.check-warning div.messageContainer .body{
  padding-left: 10px;
}

ul.check-list li.check-error div.messageContainer div.error {
    background-color: #fedcdd;
}

ul.check-list li.check-warning div.messageContainer div.warning {
    background-color: #fee5c6;
}

ul.check-list li.check-error div.messageContainer .message, ul.check-list li.check-warning div.messageContainer .message {
  font-weight: normal;
}


/** section errors and warnings **/
ul.check-list li.section-error, ul.check-list li.section-warning {
    margin-bottom: 18px;
    border-left: 0px;
}

ul.check-list li.section-error {
  background-color:#FF9798;
  color: #760605;
}

ul.check-list li.section-warning {
 background-color:#FED39E;
 color: #7D4605;
}

li.section-error div.messageContainer div.error {
    padding-left: 38px;
    background: url("../images/icon-stop-large.png") center left no-repeat;
}

li.section-warning div.messageContainer div.warning {
    padding-left: 38px;
    background: url("../images/icon-warning-large.png") center left no-repeat;
}

#full-view, #short-view {
  font-size: 11px;
}


/** wizard styles **/
.install-wizard {
  width: 800px;
}

.wizard-steps {
  margin-top: -9px;
  -margin-top: 0px; /* IE6*/
  margin-bottom: 20px;
}

.install-wizard h2 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
}

.install-wizard h3 {
  font-size: 14px;
  /*font-weight: bold;*/
  font-weight: bold;
  margin-bottom: 6px;
  margin-top:12px;
}


.install-wizard div.localMessage div.panel {
  width: 100%;
}

.install-wizard .welcomeStep .terms {
  height: 200px;
  border: 1px solid #808080;
  /*margin-top: 1.5em;*/
}

.install-wizard .welcomeStep .terms frame {
  height: 100%;
  width: 100%;
  border: none;
}

.install-wizard .welcomeStep .terms-note {
    font-size: 0.9em;
}

}

/*IE6 playing dirty tricks with form control*/
.install-wizard .checkStep #checkForm .controls {
  -position: relative;
  -left: 10px;
}

.install-wizard .checkStep ul.syscheck li h4 .detail-control {
  float: right;
  font-weight: normal;
  font-size: 90%;
}


.install-wizard .checkStep div.messageContainer div.body {
  font-weight: normal;
}

.install-wizard .checkStep div.messageContainer div.error, .install-wizard .checkStep div.messageContainer div.warning {
  background-color: none;
}

.install-wizard .checkStep ul.check-list li.section-error {
  background-color: #fedcdd;
}

.install-wizard .checkStep .tableContainer {
  margin:20px 0 20px 15px;
}


.install-wizard .checkStep table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px 3px;
}

.install-wizard .checkStep .syscheck table tr {
  background:#F0F0F0 none repeat scroll 0 0;
  color:#333333;
}

.install-wizard .checkStep .checkSection table thead tr {
  background: none;
}

.install-wizard .checkStep .checkSection table tr th.name {
}

.install-wizard .checkStep .checkSection table tr th.value {
  width: 100px;
  text-align: center;
}

.install-wizard .checkStep .checkSection table tr th.status {
  width: 20px;
  text-align: center;
}

.install-wizard .checkStep .checkSection table td, .install-wizard .checkStep .checkSection table th {
  line-height:17px;
  padding: 5px 10px;
  border: 0px;
}


.install-wizard .checkStep .checkSection table tr td.first, .install-wizard .checkStep .checkSection table tr th.first {
  border-left: 3px solid #AAAAAA;
}

.install-wizard .checkStep .checkSection table td.value {
  background-color: #dbdbdb;
}

.install-wizard .checkStep .checkSection table tr.hasError {
  background-color: #fedcdd;
  color: #760605;
}

.install-wizard .checkStep .checkSection table tr.hasError td.first {
  border-color:#9C0F0E;
}

.install-wizard .checkStep .checkSection table tr.hasError td.value {
  background-color: #ff9798;
}


.install-wizard .checkStep .checkSection table tr.hasWarning {
  background-color: #fee5c6;
  color: #7d4605;
}

.install-wizard .checkStep .checkSection table tr.hasWarning td.first {
  border-color:#F58615;
}

.install-wizard .checkStep .checkSection table tr.hasWarning td.value {
  background-color: #fed39e;
}


.install-wizard .checkStep .checkItem .name {
  font-weight: bold;
}

.install-wizard .checkStep .checkItem td.value, .install-wizard .checkStep .checkItem td.status {
  text-align: center;
}


.install-wizard .loginStep form.flat {
  margin-top: 0px;
}

.install-wizard .loginStep form.flat .break img {
  visibility: hidden;
}


/** hack the form --table layout-- so that empty header takes less space **/
.install-wizard form.flat {
    margin-top: 18px;
}


.install-wizard form.flat table tbody>tr:first-child td {
  height: 16px;
}

.install-wizard div.messagePlaceholderStatic .body {
  margin:0;
  padding:5px 5px 4px 28px;
  line-height: 150%;
}

.install-wizard .registerStep div.messagePlaceholderForm, .install-wizard .registerStep div.messagePlaceholderStatic
{
  margin-top: 12px;
  margin-bottom: 0px;
}

/*modal in register step*/
.marketInfo { /* in register step */
  display: none;
  background-color: white;
  width: auto;
}

.marketInfo .close-modal {
  font-weight: normal;
  color: white;
  position: absolute;
  right: 5px;
}

.install-wizard .dbStep .formView td.static {
  font-weight: bold;
}


.install-wizard .finishStep ul.check-list li h4 {
    border: none;
    line-height:normal;
}

.install-wizard .finishStep .market-info img {
  margin-bottom: 8px;
}