* {
	font-size: 100%;
	line-height: 160%;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}


.invocationCodes .header {
	background: url(../images/header.png) bottom left repeat-x;
	height: 70px;
}

.invocationCodes .header h1 {
  width: 270px;
  height: 32px;
	background: url(../images/logo-adserver.png) top left no-repeat;
	text-indent: -2000em;
	margin: 12px 0 0 32px;

  /* Fix IE bug: transparent PNG support */
  -background: none;
  -filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo-adserver.png');
}

.invocationCodes p {
	margin: 0 0 1em;
}

.invocationCodes h2 {
	font-weight: normal;
	font-size: 20px;
	color: #039;
	margin: 0 0 4px 0;
}

.invocationCodes h2 small {
	font-weight: bold;
	font-size: 13px;
	color: #666;
}

.invocationCodes h3 {
	margin: 18px 0 6px 0;
}

.invocationCodes code,
.invocationCodes pre {
	color: #777;
	font-size: 12px;
	font-family: "Lucida Console", "Courier New", Courier, monospace;
}

.invocationCodes pre {
	display: block;

	border: 1px solid #ccc;
	padding: 8px;
	background: #fff;
	margin: 0 0 1em;

	/* First try to wrap */
	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	/* If that doesn't work anymore use a horizontal scrollbar */
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;

	/* Force layout on IE to prevent selection problems */
	-height: 1%;

	cursor: text;
}

.invocationCodes .settings {
	padding: 8px 60px 36px;
}

.invocationCodes .step {
	padding: 12px 60px 24px 120px;
	border-top: 1px solid #ccc;
	background: url(../images/step-divider.png) top left repeat-x;

	position: relative;
}

.invocationCodes .step .number {
	position: absolute;
	left: 60px;
	-left: -60px;

	background: url(../images/step.png) top left no-repeat;

	height: 36px;
	width: 36px;
	text-align: center;
}

.invocationCodes .step .number span {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: -3px;
	margin: 0 0 0 -3px;
	-margin: auto;
}


.invocationCodes .horizontalSummary {
	border-top: 1px solid #ccc;
	width: 100%;
	border-spacing: 0;
}
.invocationCodes .horizontalSummary th {
	text-align: left;
	font-weight: normal;
	padding: 0 16px;
}
.invocationCodes .horizontalSummary td,
.invocationCodes .horizontalSummary th {
	color: #666;
	line-height: 220%;
	border-bottom: 1px solid #ddd;
}

.invocationCodes .sizePreview {
	margin: 0 0 1em;
}

.invocationCodes .generated {
	padding: 24px 60px;
	text-align: right;
	color: #666;
}


.invocationCodes button#closeWindow {
	width: 150px;
	height: 32px;
	text-align: left;
	line-height: 32px;
}
.invocationCodes button#closeWindow img {
	vertical-align: middle;
	margin: 0 4px 3px 4px;
}


.sizePreview {
	position: relative;
	border: 1px solid #349e3f; /* #ccc; */
}

.sizePreview span {
	position: absolute;
	bottom: 2px;
	right: 8px;

	color: #638606;  /* #999; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
.sizePreview img {
	position: absolute;
	top: 0;
	left: 0;
}

.sizePreview.customBoth {
	background: #b9d669 url(../images/custom-both.png) bottom right no-repeat;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.sizePreview.customHeight {
	background: #b9d669 url(../images/custom-vertical.png) bottom left repeat-x;
	border-bottom: 1px solid #fff;
}
.sizePreview.customWidth {
	background: #b9d669 url(../images/custom-horizontal.png) top right repeat-y;
	border-right: 1px solid #fff;
}
.sizePreview.labelsMini img,
.sizePreview.labelsMicro img {
	display: none;
}
.sizePreview.labelsMicro span {
	top: -6px;
	right: -88px;
	width: 80px;
}

.inlinePublisher {
	background: url(../images/icon-affiliate.gif) left center no-repeat;
	padding: 0 0 0 20px;
}
.inlineZone {
	background: url(../images/icon-zone.gif) left center no-repeat;
	padding: 0 0 0 20px;
}
