  <body>
    <h2>Save User Defined Simulation</h2>
    <form method="POST" action="save.php">
    <button name="submit" type="submit">Save This Scenario As</button><input name="name" type="text" value="" >
    <?php   $disabled = 'disabled';
            include TPL_PATH.'/table_dataset.html';
            $disabled = '';
            include TPL_PATH.'/table_adselect.html';
            include TPL_PATH.'/table_criteria.html';
            include TPL_PATH.'/table_precis.html';
    ?>
    </form>
  </body>
</html>