    <table class="input">
    <tr><th colspan="2">Request Criteria</th></tr>
    <tr><td class="label">Start Date</td><td>
<?php if ($disabled)
      {
?>
    <input name="scenario[startdate]" type="text" <?php echo $disabled; ?> value="<?php echo $conf['scenario']['startdate'] ?>"/>
<?php }
      else
      {
       $calobj->make_input_field(
           array('firstDay'     => 1, // show Monday first
                 'showsTime'    => true,
                 'showOthers'   => true,
                 'ifFormat'     => '%Y-%m-%d %I:%M',
                 'timeFormat'   => '24'),
           array('style'        => 'width:150px;',
                 'name'         => 'scenario[startdate]',
                 'value'        => $conf['scenario']['startdate']));
                 //'value'       => strftime('%Y-%m-%d %I:%M', strtotime('now'))));
      }
?>
    </td></tr>
    <tr><td class="label">Iterations</td><td><input name="scenario[iterations]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['scenario']['iterations'] ?>" ></td></tr>
    <tr><td class="label">Requests Per Iteration</td><td><input name="request[maxrequests]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['maxrequests'] ?>" ></td></tr>
    <?php $checked = ($conf['scenario']['resetpriority']? 'checked' : ''); ?>
    <tr><td class="label">Zero initial priorities?</td><td><input name="scenario[resetpriority]" <?php echo $disabled;  echo $checked;?> type="checkbox" value="1" ></td></tr>
    </table>