    <table class="input">
    <tr><th colspan="2">Ad Select Params</th></tr>
    <tr><td class="label">What</td><td><input name="request[what]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['what'] ?>" \></td></tr>
    <tr><td class="label">Target URL (target)</td><td><input name="request[target]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['target'] ?>" \></td></tr>
    <tr><td class="label">Site Targetting Info (source)</td><td><input name="request[source]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['source'] ?>" ></td></tr>
    <tr><td class="label">WithText</td>
    <td><select name="request[withText]" <?php echo $disabled; ?> >
        <option value="false" <?php echo ($conf['request']['withText']=='false' ? 'selected':'') ?>>false</option>
        <option value="true" <?php echo ($conf['request']['withText']=='true' ? 'selected':'') ?>>true</option>
        </select>
    </td></tr>
    <tr><td class="label">Context</td><td><input name="request[context]" <?php echo 'disabled'; ?> type="text" value="<?php echo $conf['request']['context'] ?>" \></td></tr>
    <tr><td class="label">RichMedia</td>
    <td><select name="request[richMedia]" <?php echo $disabled; ?> >
        <option value="false" <?php echo ($conf['request']['richMedia']=='false' ? 'selected':'') ?>>false</option>
        <option value="true" <?php echo ($conf['request']['richMedia']=='true' ? 'selected':'') ?>>true</option>
        </select>
    </td></tr>
    <tr><td class="label">3rd Party Click Tracking URL (ct0)</td><td><input name="request[ct0]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['ct0'] ?>" \></td></tr>
    <tr><td class="label">Page URL (loc)</td><td><input name="request[loc]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['loc'] ?>" \></td></tr>
    <tr><td class="label">Referer URL</td><td><input name="request[referer]" <?php echo $disabled; ?> type="text" value="<?php echo $conf['request']['referer'] ?>" \></td></tr>
    </table>