.installer_container {
 width: 80%;
}

.bodycol {
 width: 80%;
 background-color: #FFFFFF;
 text-align: center;
}

.marginright {
 margin-right: 5px;
}

.button {
 float: right;
 margin-top:5px;
 margin-bottom:5px;
}

.smallbutton {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 background-color: #F1FBE7;
 color: black;
 width: 60px;
 margin-top:5px;
 margin-bottom:5px;
}

.input {
 text-align: left;
 background-color:#EBEFE8;
}

.label {
 text-align: right;
 background-color:#EBEFE8;
}

.underline {
 border-bottom: 1px solid #AAAAAA;
}

table.sysinfotable {
 width: 60%;
 margin: 20px;
 border: 1px solid #DDDDDD;
 background: #F0F0F0;
}

.sysinfotable td {
 color: #333333;
 padding: 5px 15px 5px 10px;
 border-bottom: 1px solid #DDDDDD;
}

.sysmessage {
 font-weight: bold;
}

td.sysinfoerror, .sysinfoerror {
 color: #FFFFFF;
 font-weight: bold;
 text-align: center;
 background-color: #880000;
}

.floatleft {
 float: left;
}

div.sysinfoerror {
    background-image: url('../../admin/images/install-error.gif');
    background-repeat: no-repeat;
    color: #990000;
	background-color: #FFFFE1;
	border: 1px dashed #990000;
	margin-top: 8px;
	margin-bottom: 16px;
	padding: 6px 6px 6px 32px;
	line-height: 18px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.graph { 
    position: relative; /* IE is dumb */
    width: 400px; 
    border: 1px solid #ccc; 
    padding: 2px; 
    margin-left: auto;
    margin-right: auto;
    background: #f3f3f3;
    -moz-border-radius: 6px;
    clear: both;
}
.graphtitle {
    width: 50px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}
.graph .bar { 
    display: block;
    position: relative;
    background: #000063; 
    text-align: center; 
    color: #fff; 
    height: 2em; 
    line-height: 2em;     
    -moz-border-radius: 6px;       
}
.graph .bar span { 
    position: absolute; left: 1em; 
}
