.installer_container {
 width: 80%;
}

.bodycol {
 width: 80%;
 background-color: #FFFFFF;
 text-align: center;
}

.marginright {
 margin-right: 5px;
}

.button {
 color: #333;
 font-size: 12px;
 float: right;
 margin-top:5px;
 margin-bottom:5px;
 padding: 2px;
 font-weight: bold;
}

.smallbutton {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 background-color: #F1FBE7;
 color: black;
 width: 60px;
 margin-top:5px;
 margin-bottom:5px;
}

.input {
 text-align: left;
 background-color:#EBEFE8;
}

.label {
 text-align: right;
 background-color:#EBEFE8;
}

.underline {
 border-bottom: 1px solid #AAAAAA;
}

table.sysinfotable {
 width: 100%;
 margin: 20px;
 border: 1px solid #DDDDDD;
 background: #F0F0F0;
}

.sysinfotable td {
 color: #333333;
 padding: 5px 15px 5px 10px;
 border-bottom: 1px solid #DDDDDD;
}

table.sysinfotable td.check {
	text-align: left;
  font-weight: bold;
}

table.sysinfotable td.check-res {
	text-align: right;
}


.sysmessage {
 font-weight: bold;
}

img.install-icon {
	margin-right: 20px;
}

.install .psub
{
	padding-left: 40px;
	margin-bottom: 20px;
}


td.sysinfoerror, .sysinfoerror, td.sysinfowarning {
 color: #FFFFFF;
 font-weight: bold;
 text-align: left;
 line-height: 17px;
 background-color: #880000;
 border: 0;
}
div.sysinfowarning {
 border: 1px dotted #eee;
 width: 85%;
 margin: 5px auto 0 auto;
 color: #fff;
}
td.sysinfowarning, .sysinfowarning {
 background-color: #d26a0d;
}
td.errContainer {
 border-bottom: 1px solid #DDDDDD;
}

td.sysinfoerror i, td.sysinfowarning i {
 font-weight: normal;
 font-size: 12px;
}
.sysinfoerror a, .sysinfowarning a {
 color: #FFFFFF;
 text-decoration: underline;
}

.floatleft {
    color: #333;
    margin-right: 10px;
    font-weight: normal;
}

.centered, td.centered {
 text-align: center;
}

div.sysinfoerror {
    background-image:    url('../images/install-error-small.gif');
    background-repeat:   no-repeat;
    background-position: 10px 50%;
    color: #990000;
  background-color: #FFFFE1;
  border: 1px dashed #990000;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 6px 6px 15px 50px;
  line-height: 18px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
div.sysinfoerror li {
    margin-bottom: 5px;
}

.pageLoader {
    position: absolute;
    left: 0px;
    *left: 40px;
    background-color: #ffffff;
    width: 100%;
    height: 1px;
    opacity:.8;filter: alpha(opacity=75); -moz-opacity: 0.8;
    z-index:100;
}
.pageLoader div {
    position: relative;
    left: 30%;
    top: 180px;
    height: 50px;
    width: 275px;
    text-align: center;
    background-image:    url('../images/loading.gif');
    background-repeat:   no-repeat;
    background-position: center bottom;
}

.red {
    color: #990000;
}

.errLink {
    color: #fff;
    text-decoration: underline;
}

#graph_container {
    width: 100%;
    text-align: center;
}
.graph {
    width: 396px !important;
    width: 406px;
    height: 18px !important;
    height: 28px;
    line-height: 18px;
    padding: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: #fff url('../images/progress-bg.gif') no-repeat;
    clear: both;
}
.graphtitle {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}
.graph .bar {
    vertical-align: middle;
    display: block;
    text-align: center;
    height: 18px;
    background: #000063;
    -moz-border-radius: 4px;
    color: #fff;
}

.graph .bar span {
    position: absolute; left: 1em;
}

/** Ad networks screen */

div.site-head {
  height: 35px;
  background-image: url('../images/table-bg.gif');
  background-repeat: repeat-x;
  border: 1px solid #cdcdcd;
}

div.site-main {
  border: 1px solid #cdcdcd;
  border-top: none;
  background-color: #f6f6f6;
  padding-left: 5px;
  padding-top: 7px;
  padding-right: 5px;
}

div.site-head-content {
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

form.new-form label.left {
  line-height: 18px;
  text-align: right;
  padding-right: 15px;
}

form.new-form div.line-nolabel {
  padding-left: 115px !important;
}

input.remove-site {
  float: right;
}

input.add-new-site {
}

#add-new-site-info {
  padding-left: 5px;
  color: #a0a0a0;
}

div.one-site .remove-site-cont, div.one-site input.remove-site {
  display: none;
}

div.site {
  margin-bottom: 15px;
}

div.url-error input.remove-site {
  display: none;
}

pre.invocation-codes {
  background: #FFFFFF none repeat scroll 0%;
  border: 1px solid #CCCCCC;
  cursor: text;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px;
  white-space: -moz-pre-wrap;
  width: 100%;
}

pre.invocation-codes {
  color: #777777;
  font-family: "Lucida Console","Courier New",Courier,monospace;
  font-size: 12px;
}

div.header-script-cont {
  background-image: url("../images/icon-settings.gif");
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 20px;
}

div.header-script-title {
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 5px;
  font-weight: bold;
}

div.tags-cont {
  background-image: url("../images/icon-generatecode.gif");
  background-repeat: no-repeat;
  padding-left: 20px;
}

div.tags-title {
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 5px;
  font-weight: bold;
}

div.publisher-cont {
  background-image: url("../images/icon-generatecode.gif");
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-bottom: 30px;
}

div.publisher-title {
  border-bottom: 1px solid #a0a0a0;
  font-weight: bold;
}

div.zone-cont {
  background-image: url("../images/icon-zone.gif");
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-bottom: 30px;
}

div.zone-title {
  border-bottom: 1px solid #a0a0a0;
  margin-top: 10px;
  margin-bottom: 5px;
}

#tags-form {
  margin: 20px 0;
}

#tags-form label.left {
  width: 80px !important;
}

.sizePreview {
  background:#B9D669 none repeat scroll 0%;
  border:1px solid #8CB424;
  position:relative;
  margin-top: 3px;
}

.sizePreview span {
  bottom:2px;
  color:#638606;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
  font-weight:bold;
  position:absolute;
  right:8px;
}

.sizePreview img {
  left:0pt;
  position:absolute;
  top:0pt;
}

.sizePreview.customBoth {
  background:#B9D669 url(../images/custom-both.png) no-repeat scroll right bottom;
  border-bottom:1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
}

.sizePreview.customHeight {
  background:#B9D669 url(../images/custom-vertical.png) repeat-x scroll left bottom;
  border-bottom:1px solid #FFFFFF;
}

.sizePreview.customWidth {
  background:#B9D669 url(../images/custom-horizontal.png) repeat-y scroll right top;
  border-right:1px solid #FFFFFF;
}

.sizePreview.labelsMini img, .sizePreview.labelsMicro img {
  display:none;
}

.sizePreview.labelsMicro span {
  right:-88px;
  top:-6px;
  width:80px;
}

#recommended-tags {
  color: #a0a0a0;
  font-size: 11px;
  padding-left: 5px;
}

.popup-help {
  position: absolute;
  z-index: 1;
  border: 1px solid #666666;
  background-color: #ffffcc;
  padding: 5px;
  -moz-border-radius: 8px;
  margin-top: -100px;
  height: 90px;
  width: 190px;
  margin-left: 20px;
}

.popup-help-link {
  padding-left: 5px;
  position: relative;
  top: -2px;
}

.popup-help .close {
  text-align: right;
  padding-bottom: 3px;
}

.popup-help .long-help-text {
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.long-help-text li, ol {
  margin: 0;
  padding: 0;
}

.long-help-text ol {
  margin-left: 2em;
}

.long-help-text li {
  margin-bottom: 1ex;
}
