<body>
    <h2>Upgrade Package Utilities - Preliminary Classes (work in progress</h2>

    <p>copy or link www/devel/upgrade/upms_server on a server so that it is available as 'http://localhost/upms'</p>
    <p>create a database ox_upms and load the data from source www/devel/upgrade/upms_server/ox_upms.sql</p>
    <p>edit the www/devel/upgrade/upms_server/config.ini.php to set your database username and password</p>
    <p>test server functionality: install openx and browse to openx_hostname/www/devel/upgrade/</p>
    <p>test schema editor integration: install openx and browse to openx_hostname/www/devel/schema/</p>
    <p>see ticket OX-1507 for TO DO list</p>
    </body>
</html>