
;---------------------------------------------
; Canoo
;---------------------------------------------
webtest.home=/usr/local/canoo

;---------------------------------------------
; Where Openads is available for testing
;---------------------------------------------
host=localhost
port=80
protocol=http
basepath=erasmus/www
;run.remote=true

;---------------------------------------------
; Access to existing testing database
;---------------------------------------------
sql.driver=com.mysql.jdbc.Driver
sql.jarfile=file:${basedir}/lib/mysql-connector-java-3.1.13-bin.jar
sql.url=jdbc:mysql://localhost/test
sql.user=username
sql.password=password

;---------------------------------------------
; What are the Openads' user credentials
;---------------------------------------------
admin.name=admin
admin.password=password

;--------------------------------------------
; Cookies names
; TODO: should we rather read these variables
;       from host.conf.php?
;--------------------------------------------
viewerId=MAXID
