
;---------------------------------------------
; Canoo
;---------------------------------------------
webtest.home=/usr/local/canoo
webtest.exec=/usr/local/canoo/bin/webtest.sh

;---------------------------------------------
; Where OpenX is available for testing
;---------------------------------------------
host=localhost
port=80
protocol=http
basepath=openads/www
;run.remote=true

;---------------------------------------------
; Access to existing testing database
;---------------------------------------------
sql.driver=com.mysql.jdbc.Driver
sql.jarfile=file:${basedir}/lib/mysql-connector-java-3.1.13-bin.jar
sql.database=test
sql.host=localhost
sql.url=jdbc:mysql://${sql.host}/${sql.database}
sql.user=username
sql.password=password

;---------------------------------------------
; What are the OpenX' user credentials
;---------------------------------------------
admin.name=admin
admin.password=password

;--------------------------------------------
; Cookies names
; TODO: should we rather read these variables
;       from host.conf.php?
;--------------------------------------------
viewerId=OAID
