name: CI Report

on:
  workflow_run:
    workflows: [CI]
    types: [completed]

permissions:
  checks: write

jobs:
  test-report:
    runs-on: ubuntu-latest

    steps:
      - name: Download Test Report
        uses: dawidd6/action-download-artifact@v2
        with:
          name: test-results
          workflow: ${{ github.event.workflow.id }}
          run_id: ${{ github.event.workflow_run.id }}

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: '**/build/test-reports/*.xml'
